
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

i{
    font-style: normal;
    margin: 10px;
}
.logo{
    position: relative;
    right: 100px;
    width: 6%;
}

.searchBar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;

}
.search input {
    width: 500px;
    margin: 0px;
    padding: 0;
}
button{
    border-radius: 0;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
form{
    /*border: 1px solid #ddd;*/
    height: 35px;
}
.main{
    background-color: black;
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
iframe{
    width: 560px;
    height: 400px;
}
.fa-microphone{
    width: 30px;
    
}
.fa-video{
    width: 30px;
}
.fa-bars{
    position: relative;
    right: 10px;
    bottom: 2px;
}